# File delle variabili d'ambiente
# Contiene le chiavi API segrete! NON CARICARE MAI SU GITHUB!
.env

# Cartelle della virtual environment di Python
venv/
.venv/

# File di cache di Python
__pycache__/
*.pyc

# File specifici del sistema operativo o dell'editor
.DS_Store
.vscode/